.forgot-password-page {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.forgot-password-page .forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('images/fgnew.jpg') no-repeat center center fixed;
  background-size: cover;
}

.forgot-password-page .forgot-password-form {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.forgot-password-page .forgot-password-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-page .forgot-password-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-page .forgot-password-button:hover {
  background-color: #0056b3;
}

.forgot-password-page .success-message {
  color: green;
  margin-bottom: 10px;
}

.forgot-password-page .error-message {
  color: red;
  margin-bottom: 10px;
}

.forgot-password-page .forgot-password-links a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password-page .forgot-password-links a:hover {
  text-decoration: underline;
}
